@import "../../layout/theme.scss";

.empty-link-placeholder {
  display: inline-flex;
  width: 50%;
}

.next-empty {
  border-right: 1px solid;
}

.prev-empty {
  border-left: 1px solid;
}

.post-suggestions {
  display: flex;
  padding: 1rem 0 2rem;
}

.post-suggestion {
  width: 50%;
  display: inline-block;
  text-decoration: none;

  p {
    background: $theme-black;
    color: $theme-bg;
    display: inline-block;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25rem;
    padding: 0.5rem 1rem;
    position: relative;
    margin: 0;
    margin-bottom: 0.25rem;
  }

  h5 {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &:nth-of-type(2) {
    border-left: 1px solid;
  }

  &:hover {
    color: initial;
  }
}

.prev-suggestion {
  text-align: right;
}

.next-suggestion {
  text-align: left;
}
