@import "./theme.scss";

* {
  box-sizing: border-box;
  color: $theme-black;
}

body {
  background: $theme-bg;
  padding: 10px;
}

a {
  &:link {
    color: $theme-black;
  }

  &:hover {
    color: rgba($theme-black, 0.8);
  }
}

.btn {
  border: 0;
  background: none;
  cursor: pointer;
  font-size: 1rem;
}

.pagination-btn {
  background: $theme-black;
  color: $theme-bg;
  padding: 1rem 2rem;
  font-size: 1.25rem;

  &:hover {
    opacity: 0.8;
  }
}

.index-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, minmax(300px, auto));
  grid-template-areas:
    "headline"
    "first"
    "ad1"
    "second"
    "third"
    "fourth"
    "fifth"
    "ad2";
  padding: 20px 0;
}

.index-post {
  @each $post in $index-posts {
    $i: index($index-posts, $post);
    padding: 10px 0;

    &:nth-of-type(#{$i}) {
      grid-area: $post;
    }
  }
}

@media screen and (min-width: 800px) {
  .index-post {
    padding: 10px;
  }
}
