// colors
$theme-black: rgb(80, 80, 80);
$theme-bg: rgb(245, 245, 245);
$theme-warn: rgb(235, 120, 120);

// grids
$index-posts: headline first second third fourth fifth ad1 ad2;

// fonts
$display-font: "Playfair Display", serif;
$std-font: "Microsoft Jhenghei", "Ping Fang", "Noto Sans", sans-serif;
